{% extends "doctor/layouts/base.html" %} {% block title %}Trang đăng nhập{%
endblock %} {% block main %}
<script src="/static/js/doctor/appointments.js"></script>
<link href="/static/css/doctor/appointments.css" rel="stylesheet" />

<form class="container" action="/user/doctor/appointment?startDate={{daysOfWeek[0]}}" method="post">
  <div class="mainTitle">Lịch hàng tuần</div>
  <div class="stateContainer">
    <div class="stateOption">
      <div class="color avalableColor"></div>
      <div class="stateValue">TRỐNG</div>
    </div>
     <div class="stateOption">
      <div class="color selectedColor"></div>
      <div class="stateValue">ĐÃ CHỌN</div>
    </div>
     <div class="stateOption">
      <div class="color bookedColor"></div>
      <div class="stateValue">ĐÃ ĐẶT</div>
    </div>
  </div>
  <div class="tableContainer">
    <table class="table">
      <tbody>
        <tr class="header">
          {% for index in range(7) %}
          <th
            class="{% if index == 0 %} firstColumn {% endif %} {% if index != 6 %} rightBorder {% endif %} bottomBorder"
          >
            <div>
              {% if index != 0 %}
              <div class="date">{{ daysOfWeek[index-1] }}</div>
              <div class="time">Thứ {{index}}</div>
              {% endif %}
            </div>
          </th>
          {% endfor %}
        </tr>
        {% for hour in range(1,11) %} {% if hour == 6 %}
        <tr class="afternoonShiftContainer">
          <td colspan="7" class="afternoonShift">Ca chiều</td>
        </tr>
        {% else %}
        <tr>
          {% for index in range(7) %}
          <td
            class="cellContainer {% if index == 0 %} firstColumn {% endif %} {% if index != 6 %} rightBorder {% endif %} {% if hour != 10 %} bottomBorder {% endif %}"
          >
            {% if index == 0 %} {{ hour + 6 }}:00 - {{hour + 7}}:00 {% else %}
            <div
              class="cell {% if registeredAppointmentMap[daysOfWeek[index].__str__()+'-'+hour.__str__()] %} cellActive {% endif %}"
              id="cell-{{ hour.__str__() }}-{{index.__str__() }}"
              {% if not showWarning %} onclick="onClick('cell-{{ hour.__str__() }}-{{ index.__str__() }}')" {% endif %}
            >
              <p
                class="title {% if registeredAppointmentMap[daysOfWeek[index].__str__()+'-'+hour.__str__()] %} titleShow {% endif %}"
                id="title"
              >
                Đã chọn
              </p>
              <input
                class="cellCheckbox"
                id="cellCheckbox"
                type="checkbox"
                value="{{daysOfWeek[index]}}-{{hour.__str__()}}"
                name="datetimes"
                {% if registeredAppointmentMap[daysOfWeek[index].__str__()+'-'+hour.__str__()] %} checked {% endif %}
              />
            </div>
            {% endif%}
          </td>
          {% endfor %}
        </tr>
        {% endif %} {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="buttonContainer">
    <a href="/user/doctor/appointment?startDate={{startDatePreviousWeek}}" class="navButton">Tuần trước</a>
    {% if not showWarning %}
      <button class="confirmButton" type="submit">Xác nhận</button>
    {% endif %}
    <a href="/user/doctor/appointment?startDate={{startDateNextWeek}}" class="navButton">Tuần sau</a>
  </div>
  {% if showWarning %}
  <div class="warning">
    <img src="/static/assets/warning.svg" class="warningIcon"/>
    <div>
      <div class="warningTitle">Cảnh báo</div>
      <div class="warningContent">
        Khung giờ làm này đã bị vô hiệu hoá
      </div>
    </div>
  </div>
  {% endif %}
</form>
{% endblock %}
