{% extends "doctor/layouts/base.html" %} {% block title %}Trang đăng nhập{%
endblock %} {% block main %}
<div class="container">
  <link href="/static/css/doctor/profile.css" rel="stylesheet" />
  <div class="infoCard">
    <div class="imageContainer">
      <img class="image" src="{{user.avatar}}" />
    </div>
    <div>
      <div class="title">BÁC SĨ CHUYÊN KHOA</div>
      <div class="name">{{user.name}}</div>
      <div class="speciltyContainer">
        <div class="specialty">{{user.doctor_info.specialty.name}}</div>
      </div>
      <div class="archieveTitle">BỆNH NHÂN</div>
      <div class="archieveValue">2,400+</div>
    </div>
  </div>
  <div class="infoContainer">
    <div class="infoForm">
      <div class="personalTitleContainer">
        <image src="/static/assets/personal_info.svg" class="icon" />
        <div class="personalTitle">Thông tin liên hệ</div>
      </div>
      <div>
        <div class="inputTitle">EMAIL CÁ NHÂN</div>
        <div class="input">{{user.email}}</div>
      </div>
      <div>
        <div class="inputTitle">SỐ ĐIỆN THOẠI</div>
        <div class="input">{{user.phone}}</div>
      </div>
      <div>
        <div class="inputTitle">SỐ CCCD</div>
        <div class="input">{{user.id_card}}</div>
      </div>
      <div>
        <div class="inputTitle">ĐỊA CHỈ</div>
        <div class="input">{{user.address}}</div>
      </div>
    </div>
    <div class="infoForm">
      <div class="personalTitleContainer">
        <img src="/static/assets/cert_icon.svg" class="icon" />
        <div class="personalTitle">Chứng chỉ chuyên môn</div>
      </div>
      <div class="certsContainer">
      {% for cert in user.doctor_info.certifications%}
      <div>
        <div class="inputTitle">{{cert.name}}</div>
        <img src="{{cert.url}}" class="certImage" />
      </div>
      {% endfor %}
      </div>
    </div>
  </div>
  <a href="/doctor/update-profile" class="updateButton">Cập nhật thông tin</a>
</div>
{% endblock %}
