.headerContainer {
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0px 22px;
}

.navigation {
  display: flex;
  gap: 32px;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.navigationItem {
  line-height: 24px;
  color: black;
  text-decoration: none;
}

.navigationItemActive {
  color: #1d4ed8;
}
.homePageButton {
  margin: 23px 0px;
  font-family: sans-serif;
}

.home {
  color: #1e40af;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-decoration: none;
  width: 200px;
  display: block;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 12px;
}

body {
  margin: 0px;
  font-family: sans-serif;
}

.navButton {
  width: 120px;
  border-radius: 12px;
  background-color: #004e9f;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 40px;
}

.navButtonsContainer {
  display: flex;
  gap: 10px;
}
