{% extends "layouts/base.html" %} {% block title %}Trang đăng nhập{% endblock %}
{% block content %}
<link href="/static/css/find_doctor.css" rel="stylesheet" />
<div class="container">
  <div class="cardsContainer">
    {% for user in foundUsers %}
    <div class="card">
      <img class="cardImage" src="{{user.avatar}}" />
      <div>
        <div class="name">{{user.name}}</div>
        <div class="specialty">{{user.doctor_info.specialty.name}}</div>
        <a href="/user/find-doctor/{{user.id}}" class="detailButton">Chi tiết</a>
      </div>
    </div>
    {% endfor%}
  </div>
</div>
{% endblock %}
