{% extends "layouts/base.html" %} {% block title %}Trang đăng nhập{% endblock %}
{% block content %}
<link href="/static/css/login.css" rel="stylesheet" />
<div class="container">
  <div class="formContainer">
    <img src="/static/assets/login_banner.png" class="banner" />
    <form action="/user/login" method="POST" class="form">
      <div class="title">Chào mừng trở lại</div>
      <div class="subtitle">Đăng nhập vào tài khoản của bạn</div>
      <div class="inputTitle">ĐỊA CHỈ EMAIL</div>
      <div class="inputContainer">
        <img src="/static/assets/email_icon.svg" />
        <input class="input" name="email" type="email" />
      </div>
      <div class="inputTitle">MẬT KHẨU</div>
      <div class="inputContainer">
        <img src="/static/assets/password_icon.svg" />
        <input class="input" name="password" type="password" />
      </div>
      {% if showError %}
      <div class="error">Sai tài khoản hoặc mật khẩu</div>
      {% endif %}
      <button class="button loginButton">Đăng nhập</button>
      <div class="divider">
        <div class="line"></div>
        <div class="dividerContent">HOẶC</div>
        <div class="line"></div>
      </div>
      <a href="/user/register" class="button registerButton">Đăng ký</a>
    </form>
  </div>
</div>
{% endblock %}
