<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="/static/css/register.css" rel="stylesheet" />
    <script src="/static/js/register.js"></script>
  </head>
  <body>
    <div class="container">
      <img class="image" src="/static/assets/banner.png" />
      <form method="POST" action="/user/register" class="form" id="form">
        <div class="title">Tạo tài khoản mới</div>
        <div class="subtitle">
          Vui lòng điền các thông tin dưới đây để bắt đầu hành trình sức khỏe
          của bạn.
        </div>
        <div class="inputRow mt-40">
          <div class="inputContainer">
            <div class="inputTitle">Họ và tên</div>
            <input class="input" name="name" value="Nguyễn Văn A" />
          </div>
          <div class="inputContainer">
            <div class="inputTitle">Email liên hệ</div>
            <input
              class="input"
              name="email"
              type="email"
              value="lygiatuan200804@gmail.com"
            />
          </div>
        </div>
        <div class="inputRow mt-24">
          <div class="inputContainer">
            <div class="inputTitle">Mật khẩu</div>
            <input
              class="input"
              type="password"
              name="password"
              value="lkjhg09876"
            />
          </div>
          <div class="inputContainer">
            <div class="inputTitle">Số điên thoại</div>
            <input class="input" name="phone" type="number" />
          </div>
        </div>
        <div class="inputRow mt-24">
          <div class="inputContainer">
            <div class="inputTitle">Ngày sinh</div>
            <input class="input" type="date" name="dob" value="Nguyễn Văn A" />
          </div>
          <div class="inputContainer">
            <div class="inputTitle">Giới tính</div>
            <select class="input" name="gender">
              <option value="1">Nam</option>
              <option value="2">Nữ</option>
            </select>
          </div>
          <input name="role" value="PATIENT" class="roleInput" id="roleInput" />
          <div class="inputContainer">
            <div class="inputTitle">Số CCCD</div>
            <input class="input" name="id_card" type="number" />
          </div>
        </div>
        <div class="inputRow mt-24">
          <div class="inputContainer">
            <div class="inputTitle">Địa chỉ thường trú</div>
            <input
              name="address"
              class="input"
              type="text"
              placeholder="Số nhà, tên đường, phường/xã, quận/huyện, tỉnh/thành phố"
            />
          </div>
        </div>
        <div class="mt-40">
          <div class="roleTitle">Bạn đăng ký với vai trò:</div>
          <div class="roleOptionsContainer">
            <div class="roleOption active" id="patientOption">
              <img src="/static/assets/patient_icon.png" />Khách hàng
            </div>
            <div class="roleOption" id="doctorOption">
              <img src="/static/assets/patient_icon.png" />
              Bác sĩ
            </div>
          </div>
        </div>
        <div class="mt-64">
          <button class="roleOption active" type="submit">
            Đăng ký tài khoản
            <img src="/static/assets/patient_icon.png" />
          </button>
        </div>
        <div class="mt-40 textCenter">
          Đã có tài khoản?
          <a href="go">Đăng nhập ngay</a>
        </div>
      </form>
    </div>
  </body>
</html>
