.tableContainer {
  border: 1px solid #e7e8e9;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 12px 40px rgba(25, 28, 29, 0.06);
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.firstColumn {
  width: 100px !important;
  text-align: center;
}

.table th,
td {
  height: 88px;
  box-sizing: border-box;
}

.rightBorder {
  border-right: 1px solid #e7e8e9;
}

.bottomBorder {
  border-bottom: 1px solid #e7e8e9;
}

.header {
  background-color: #f3f4f5;
}

.afternoonShiftContainer {
  background-color: #f3f4f5;
}

.afternoonShift {
  height: 42px;
  text-align: center;
}

.cellContainer {
  padding: 12px;
  width: 210px;
}

.cell {
  background-color: #e1e3e4;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cellActive {
  background-color: #004e9f;
  box-shadow:
    0 0 0 2px white,
    0 0 0 4px #004e9f;
}

.date {
  font-weight: 200;
  margin-bottom: 5px;
}

.time {
  font-size: 20px;
}

.cellTitle {
  color: white;
  display: none;
}

.titleShow {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
}

.cellCheckbox {
  display: none;
}

.confirmButton {
  background: linear-gradient(to right, #004e9f, #0066cc);
  width: 614px;
  border-radius: 16px;
  height: 68px;
  border: 0px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.mainTitle {
  color: #191c1d;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
}

.buttonContainer {
  margin-top: 40px;
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.stateContainer {
  display: flex;
  align-items: center;
  padding: 13px 16px;
  margin: 32px 0px;
  gap: 32px;
}
.stateOption {
  display: flex;
  gap: 10px;
}

.stateValue {
  color: #414753;
  font-size: 12px;
  list-style: 16px;
}

.color {
  border-radius: 100%;
  width: 14px;
  height: 14px;
}

.avalableColor {
  background-color: #e1e3e4;
}

.selectedColor {
  background-color: #004e9f;
}

.bookedColor {
  background-color: green;
}

.navButton {
  background-color: #e7e8e9;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 128px;
  border-width: 0;
  color: #414753;
  text-decoration: none;
}

.warning {
  padding: 32px;
  display: flex;
  background-color: rgba(136, 55, 0, 0.05);
  border-radius: 16px;
  border: 1px solid rgba(136, 55, 0, 0.1);
  margin-top: 40px;
  gap: 20px;
}

.warningIcon {
  width: 25px;
  height: 25px;
}

.warningTitle {
  font-size: 16px;
  color: #883700;
  margin-bottom: 3px;
}

.warningContent {
  font-size: 14px;
  color: #793000;
}

.cellBooked {
  background-color: green !important;
  box-shadow:
    0 0 0 2px white,
    0 0 0 4px green !important;
}