.container {
  display: flex;
  height: 100%;
}

.form {
  padding: 68px 80px;
  flex: 1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.title {
  line-height: 36px;
  font-weight: 600;
  font-size: 30px;
  color: #191c1d;
}

.subtitle {
  margin-top: 8px;
}

.inputRow {
  display: flex;
  gap: 24px;
}

.inputContainer {
  width: 100%;
}

.inputTitle {
  margin-left: 4px;
  margin-bottom: 8px;
  line-height: 20px;
}

.input {
  background-color: #e1e3e4;
  color: #727784;
  padding: 15px;
  height: 48px;
  border-radius: 8px;
  border-width: 0px;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
}

.roleTitle {
  line-height: 20px;
  margin-bottom: 12px;
}

.roleOptionsContainer {
  display: flex;
  gap: 16px;
}

.roleOption {
  cursor: pointer;
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #edeeef;
  border-radius: 8px;
  color: #414753;
  gap: 12px;
  border-width: 0px;
}

.active {
  background-color: #004e9f;
  color: white;
}

.textCenter {
  text-align: center;
}

.mt-40 {
  margin-top: 40px;
}

.mt-24 {
  margin-top: 24px;
}

.mt-64 {
  margin-top: 64px;
}

.roleInput {
  display: none;
}

.doctorInfoContainer {
  display: none;
}

body {
  margin: 0px;
  font-family: sans-serif;
}

.certifcateCard {
  border-radius: 4px;
  background-color: #f3f4f5;
  padding: 32px;
  display: none;
  gap: 32px;
  border: 1px solid rgba(193, 198, 213, 0.3);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.certifcateIcon {
  width: 52px;
  height: 58px;
}

.certifcateTitle {
  color: #191c1d;
  font-size: 18px;
}

.certificateInputContainer {
  background-color: #f8f9fa;
  border: 2px dashed #c1c6d5;
  width: 100%;
  height: 166px;
  margin-top: 16px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.certificateContainer {
  width: 100%;
}

.certificateInputTitle {
  color: #191c1d;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  margin-top: 12px;
}
