<link href="/static/css/layouts/footer.css" rel="stylesheet" />
<footer>
  <div class="footerContainer">
    <div class="footer-grid">
      <div class="footer-info">
        <a href="#" class="logo">MedBook</a>
        <p>
          Giải pháp đặt lịch khám bệnh trực tuyến hàng đầu, mang lại sự tiện lợi
          và tin cậy cho mọi nhà.
        </p>
      </div>
      <div class="footer-links-container">
        <div class="footer-group">
          <h5>Dịch vụ</h5>
          <ul>
            <li><a href="#">Tìm bác sĩ</a></li>
            <li><a href="#">Đặt lịch khám</a></li>
            <li><a href="#">Tư vấn từ xa</a></li>
          </ul>
        </div>
        <div class="footer-group">
          <h5>Hỗ trợ</h5>
          <ul>
            <li><a href="#">Help Center</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Accessibility</a></li>
          </ul>
        </div>
        <div class="footer-group">
          <h5>Pháp lý</h5>
          <ul>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms of Service</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <p>© 2024 MedBook Health. Precision care for every patient.</p>
      <p>Design by AI Studio</p>
    </div>
  </div>
</footer>
